.body {
  background-color: #1D538A
}

.white {
  color: white;
}



.title {
  width: 100%;
}

.inline {
  display:inline;
}

.smallMargins {
  margin: 8px;
}

.hidden {
    display: none;
}

.visible {
  display: ;
}

div.box { height: 100px; width: 600px; }
div.div1{ float: left; height: 100%; width: auto; }
div.div2{ float: right; height: 100%; width: 570px; }
div.clear { clear: both; height: 1px; overflow: hidden; font-size:0pt; margin-top: -1px; }